    body {
        height: 100%;
        }

        .container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .container > div > .construire,
        .data form div .button{
            border: #2e6da4;
            font-family: Arial, Geneva, Arial, Helvetica,  sans-serif;
            font-size: 15px;
            color: #fff;
            letter-spacing: 1px;
            padding: 8px 12px;
            font-size: 14px;
            font-weight: normal;
            border-radius: 4px;
            line-height: 1.5;
            text-decoration:none
        }
        .container > div > .construire{
            background-color:#5fb80c;
            margin-top: 10px;
        }
        
        .data form div .reset{
            background-color:#4d504a;
        }
        
        .data form div .submit{
            background-color: rgb(255, 179, 0);
        }

        .wrapper {
            width: auto;
            height: 10%;
            display: grid;
            grid-gap: 2px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-columns: 1fr;
            grid-auto-rows: 100px;
            border: 1px solid #c1c1c1;
            border-radius: 5px;
        }

        .wrapper .box {
            grid-row: 1; /* keeps all items on the first row */
            border: 1px solid #010101;
            border-radius: 5px;
        }

        .wrapper .box input {
            width: 100%;
            height: 100%;
        }
      

        .data form div{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            
        }

        .data form div * {
            display: inline-block;
        }

        .data form div input {
            margin-right: 2%;
            margin-top: 10px;
        }

        .data form div .text{
            font-size: 16px;
            font-size: max(16px, 1em);
            font-family: inherit;
            padding: 0.25em 0.5em;
            background-color: #fff;
            border: 2px solid gray;
            border-radius: 4px;
            margin-bottom: 10px;
            margin-left: 10px;
        }

        .data{
            margin-bottom: 50px;
        }

        .unActive {
            display: none;
        }

        #form-div{
            background-color: whitesmoke; 
            border: solid 1px black; 
            width: 100%; 
            height: auto;
        }